table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-column-select {
  width: 80px;
}
